.main-menu {
  position: fixed;
  width: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: $bg-menu;
  transition: all $default-time;

  &.active {
    border-radius: 0;
    right: 0;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20%;
    right: 50px;
    text-align: right;
    a {
      font-size: rem-calc(50);
      text-transform: uppercase;

    }
  }
}
