{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load applicationcontent_tags %}


{% include "includes/head.html" %}

<body class="page">
        <script>
            fbq('track', 'Lead', {
            value: 10.00,
            currency: 'USD',
            });
        </script>


        <main>
            <section class="case-top">
                    {% include "includes/header.html" %}
                <div class="case-top-content">
                        <h1>{{object.activity_title}}</h1>
                        <img class="case-top-img" src="{{object.get_image_top}}" alt="{{object.activity_title}}">
                </div>
            </section>

                <section class="case">
                        <div class="main-container">
                            <aside class="sidebar">
                                <h2 class="big-shadow line-before" data-title="О проекте.">{% trans "О проекте." %}</h2>
                                <p class="title">{% trans "Клієнт:" %}</p>
                                <p>{{object.client|default_if_none:""}}</p>
                                <p class="title">{% trans "Проект:" %}</p>
                                <p>{{object.title|default_if_none:""}}</p>
                                <p class="title">{% trans "Послуги:" %}</p>
                                {% for caseservice in object.get_case_services %}
                                <p>{{caseservice.title}}</p>
                                {% endfor %}
                                <p class="title">{% trans "Сайт:" %}</p>
                                <p><a href="http://{{object.case_site}}">{{object.case_site|default_if_none:""}}</a>
                                </p>
                                <ul class="social-list line-before line-after">
                                    <li>
                                        <a href="{{object.twitter_link}}" target="_blank" class="icon icon-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="{{object.facebook_link}}" target="_blank" class="icon icon-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="{{object.insta_link}}" target="_blank" class="icon icon-instagram"></a>
                                    </li>
                                </ul>
                            </aside>
                            <article class="main">
                                <div class="main-description">
                                    {{object.text|safe}}
                                </div>
                                {{object.pictures_editor|safe}}
                            </article>
                        </div>
                    </section>
        
                    <div class="cases-carusel">
                        <h2 class="title-cases">{% trans "Ще проекти" %}</h2>
        
                        <div class="cases-carusel-list">
                            <div class="cases-carusel-list-carusel">
                                {% for case in cases %}
                                <a class="cases-carusel-item" href="{{case.get_absolute_url}}">
                                    <img src="{{case.get_image_preview}}" alt="Cradle of Links">
                                    <span class="cases-carusel-item-info">
                                  <h4>{{case.title}}</h4>
                                  <span class="arr arr-right">{% trans "переглянути кейс" %}</span>
                                    </span>
                                </a>
                                {% endfor %}
                            </div>
                            <a class="cases-carusel-item next-slide" href="#">
                                <span class="cases-carusel-item-info">
                              <i class="icon icon-next"></i>
                              <span>{% trans "Більше проектів" %}</span>
                                </span>
                            </a>
                        </div>
        
                    </div>
        
                    <section class="contacts scrollify" data-section-name="contacts" id="contacts">
                        <div class="contacts-content block-center-content">
                            <h2 class="big-shadow line-before" data-title="Контакти.">{% trans "Контакти." %}</h2>
                            <div class="contacts-form">
                                <span>{% trans "Що далі?" %}</span>
                                <p><span>{% trans "Ми готові!" %}</span>  <a href="#" class="toggle-form arr arr-right">{% trans "зв&#x27;язатись" %}</a>
                                </p>
                            </div>
                        </div>

                        {% include "includes/footer.html" %}
        
                    </section>
        
                </main>
                <div class="get-in-touch">
                        <div class="get-in-touch-content">
                            <a href="" class="logo">
                                <img src="{% static "img/general/logo.svg" %}" alt="Idea Digital Agency">
                            </a>
                            <span class="close">×</span>
                            <div class="get-in-touch-address line-load">
                                <h4>{% trans "Україна, Дніпро," %}</h4>
                                <p>{% trans "І.Акінфієва 18/308" %}</p>
                                <p><a href="tel:+380985606565">+380985606565</a>
                                </p>
                                <p><a href="mailto:contact@ideadigital.agency">contact@ideadigital.agency</a>
                                </p>
                            </div>
                            <div class="get-in-touch-form">
                                <form id="get-in-touch-form" action="{% app_reverse "add_contact_form" "info.urls" %}" method="GET">
                                    <div class="block-field">
                                        <input type="text" name="first" placeholder="{% trans "Ім&#x27;я" %}"required autocomplete="off">
                                    </div>
                                    <div class="block-field">
                                        <input type="text" name="second" placeholder="{% trans "Прізвище" %}" required autocomplete="off">
                                    </div>
                                    <div class="block-field">
                                        <input type="email" name="email" placeholder="e-mail" required autocomplete="off">
                                    </div>
                                    <div class="block-field">
                                        <input type="tel" name="phone" placeholder="{% trans "телефон (необов&#x27;язково)" %}" autocomplete="off">
                                    </div>
                                    <div class="block-field">
                                        <label for="budget" class="label-select">
                                            <select name="budget" id="budget" required>
                                                <option value="" disabled selected>{% trans "оберіть ваш бюджет" %}</option>
                                                <option value="500$-1000$500$-1000$">500$-1000$</option>
                                                <option value="1000$-3000$1000$-3000$">1000$-3000$</option>
                                                <option value="3000$ +3000$ +">3000$ +</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="block-field">
                                        <input type="text" name="company" placeholder="{% trans "компанія" %}" autocomplete="off">
                                    </div>
                                    <div class="block-field block-field-textarea">
                                        <textarea name="message" placeholder="{% trans "деталі" %}" required></textarea>
                                    </div>
                                    <div class="block-field">
                                        <input type="submit" value="{% trans "відправити" %}" class="btn">
                                    </div>
                                </form>
                                <div class="get-in-touch-address thanks-massege hidden">
                                    <h4>{% trans "Дякуємо що звернулися" %}</h4>
                                    <p>{% trans "Наш менеджер зв'яжеться з Вами" %}
                                        <br>{% trans "протягом години!" %}</p>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
