<div class="cases-carusel-list">
    <div class="cases-carusel-list-carusel">
      {{#each caseList}}
        <a class="cases-carusel-item" href="{{this.link}}">
          <img src="{{this.image}}" alt="{{this.title}}">
          <span class="cases-carusel-item-info">
              <h4>{{this.title}}</h4>
              <span class="arr arr-right">{{watch}}</span>
          </span>
        </a>
      {{/each}}
    </div>
    <a class="cases-carusel-item next-slide" href="#">
        <span class="cases-carusel-item-info">
          <i class="icon icon-next"></i>
          <span>{{viewMore}}</span>
        </span>
    </a>
</div>
