<section class="our__team">
	<h2>Наша команда.</h2>
	<div class="team_title"><img src="assets/images/team.svg" alt=""></div>
	<div class="team__slider clearfix">
		<div class="item">
			<div class="avatar_wrp">
				<img src="assets/images/t_1.png" alt="" class="img-responsive">
				<div class="line"></div>
			</div>
			<div class="person__name">Александр Белицкий</div>
			<div class="porson_position">CEO</div>
		</div>
		<div class="item">
			<div class="avatar_wrp">
				<img src="assets/images/t_4.png" alt="" class="img-responsive">
				<div class="line"></div>
			</div>
			<div class="person__name">Виктор Мостовой</div>
			<div class="porson_position">Internet Marketologist</div>
		</div>
		<div class="item">
			<div class="avatar_wrp">
				<img src="assets/images/t_7.png" alt="" class="img-responsive">
				<div class="line"></div>
			</div>
			<div class="person__name">Юлия Белицкая</div>
			<div class="porson_position">CMO</div>
		</div>
		<div class="item">
			<div class="avatar_wrp">
				<img src="assets/images/t_2.png" alt="" class="img-responsive">
				<div class="line"></div>
			</div>
			<div class="person__name">Наталья Изюменко</div>
			<div class="porson_position">Web designer</div>
		</div>
		<div class="item">
			<div class="avatar_wrp">
				<img src="assets/images/t_5.png" alt="" class="img-responsive">
				<div class="line"></div>
			</div>
			<div class="person__name">Карина козенко</div>
			<div class="porson_position">SMM Manager</div>
		</div>
		<div class="item">
			<div class="avatar_wrp">
				<img src="assets/images/t_6.png" alt="" class="img-responsive">
				<div class="line"></div>
			</div>
			<div class="person__name">Евгений Бевзюк</div>
			<div class="porson_position">Front-end Developer</div>
		</div>
		<div class="item">
			<div class="avatar_wrp">
				<img src="assets/images/t_3.png" alt="" class="img-responsive">
				<div class="line"></div>
			</div>
			<div class="person__name">Илона божок</div>
			<div class="porson_position">Project Manager</div>
		</div>
		<div class="item">
			<div class="avatar_wrp">
				<img src="assets/images/t_8.png" alt="" class="img-responsive">
				<div class="line"></div>
			</div>
			<div class="person__name">Яна Кравец</div>
			<div class="porson_position">Web designer</div>
		</div>
		<div class="item">
			<div class="avatar_wrp">
				<img src="assets/images/t_9.png" alt="" class="img-responsive">
				<div class="line"></div>
			</div>
			<div class="person__name">Илья Болилый</div>
			<div class="porson_position">Front-end Developer</div>
		</div>
	</div>
</section>
