// Common styles of the project

html, body {
    height: 100%;
}

body {
  font-family: gothampro;
  font-size: rem-calc(18);
  line-height: 1.3;
}

.page__wrapper {
    min-height: 100%;
}

* html .page__wrapper {
    height: 100%;
}

a {
  color: $color-icon;
  text-decoration: none;
  transition: all $default-time;

  &:hover {
    color: $color-hover;
  }
}

*:focus {
  outline: none;
}

.fixed {
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section.scrollify {
  border-bottom: 1px solid $color-line;
}

.line-after,
.line-before {
  position: relative;
  display: inline-block;
  width: auto;

  &::after,
  &::before {
    content: "";
    height: 1px;
    background: $color-line;
    position: absolute;
    top: 50%;
  }
}

.line-after::after {
  left: calc(100% + 12px);
}

.line-before::before {
  right: calc(100% + 12px);
}

.arr {
  position: relative;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
  }

  &::before {
    content: "";
    background-color: #000;
    position: absolute;
  }

  &.arr-right {
    &::after {
      border-width: 4.5px 0 4.5px 11px;
      border-color: transparent transparent transparent #000;
    }
  }

  &.arr-bottom {
    padding-bottom: 88px;

    &::after {
      left: 50%;
      transform: translate(-50%);
      bottom: 0;
      border-width: 9px 5.5px 0 5.5px;
      border-color: #000 transparent transparent transparent;
      transition: all $default-time;
    }

    &::before {
      height: 75px;
      width: 1px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      transition: all $default-time;

    }
  }

  &.arr-left {
    &::after {
      border-width: 4.5px 11px 4.5px 0;
      border-color: transparent #000 transparent transparent;
    }
  }

  &.arr-top {
    &::after {
      border-width: 0 5.5px 9px 5.5px;
      border-color: transparent transparent #000 transparent;
    }
  }
}

.top-lang {
  a {
    padding: 2px 5px;
    display: inline-block;
  }
  .active {
    border-bottom: solid 1px;
  }
}
