// GUI stylies of the project
// For example, styles of the links, buttons and so on.

// @import "_settings.scss";
//
// $global-flexbox: true;
// @include foundation-global-styles;
// @include foundation-flex-grid;
// @include foundation-typography;
// @include foundation-forms;
// @include foundation-button;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-flex-classes;

//icon

.icon {
  display: inline-block;
  position: relative;

  &::before {
    font-family: $iconfont;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


.icon-poket {
  &:before {
    content: $icon-poket;
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}
.icon-brand {
  &:before {
    content: $icon-brand;
  }
}
.icon-marketing {
  &:before {
    content: $icon-marketing;
  }
}
.icon-develop {
  &:before {
    content: $icon-develop;
  }
}
.icon-web {
  &:before {
    content: $icon-web;
  }
}
.icon-next {
  &:before {
    content: $icon-next;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-google-plus {
  &:before {
    content: $icon-google-plus;
  }
}
.icon-behance {

}

h1 {
  font-family: gothamproblack;
  font-size: rem-calc(24);
  text-transform: uppercase;
  margin-bottom: 16px;

  @media #{$laptop} {
    font-size: rem-calc(36);
  }
}


.blog-page-content {
  h2, h3, h4, h5 ,h6 {
    font-family: gothamprobold;
    margin-bottom: 16px;
  }
  h2 {
    font-size: rem-calc(22);
    @media #{$laptop} {
      font-size: rem-calc(48);
    }
  }

  h3 {
    font-size: rem-calc(20);

    @media #{$laptop} {
      font-size: rem-calc(40);
    }
  }

  h4 {
    font-size: rem-calc(20);

    @media #{$laptop} {
      font-size: rem-calc(36);
    }
  }

  h5 {
    font-size: rem-calc(20);

    @media #{$laptop} {
      font-size: rem-calc(30);
    }
  }

  h6 {
    font-size: rem-calc(18);

    @media #{$laptop} {
      font-size: rem-calc(24);
      margin-top: 0;
    }
  }
}


.home-page {
  h1 {
    color: #000000;
    background-image: url(%=static=%general/bg-text.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: gothamproblack;
    font-size: rem-calc(26);
    font-weight: 400;
    letter-spacing: -0.52px;
    margin: 0;
    @media #{$laptop} {
      font-size: rem-calc(69);
      letter-spacing: -1.96px;
    }
    @media #{$desktop} {
      font-size: 5.11vw;
    }
  }

  h3 {
    font-size: rem-calc(24);
    font-family: gothamprobold;
    @media #{$desktop} {
      font-size: rem-calc(36);
    }
  }
}


.big-shadow {
  color: #282828;
  font-size: rem-calc(14);
  position: relative;
  padding-top: 41px;
  @media #{$laptop} {
    padding-top: 110px;
    font-size: rem-calc(24);
  }
  @media #{$desktop} {
    padding-top: 160px;
    font-size: rem-calc(36);
  }

  &::after {
    content: attr(data-title);
    color: #f1f1f1;
    font-size: rem-calc(48);
    font-family: gothamprobold;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    white-space: nowrap;
    @media #{$laptop} {
      font-size: rem-calc(114);
    }
    @media #{$desktop} {
      font-size: rem-calc(172);
    }
  }
}

[type=color],
[type=color]:focus,
[type=date],
[type=date]:focus,
[type=datetime-local],
[type=datetime-local]:focus,
[type=datetime],
[type=datetime]:focus,
[type=email],
[type=email]:focus,
[type=month],
[type=month]:focus,
[type=number],
[type=number]:focus,
[type=password],
[type=password]:focus,
[type=search],
[type=search]:focus,
[type=tel],
[type=tel]:focus,
[type=text],
[type=text]:focus,
[type=time],
[type=time]:focus,
[type=url],
[type=url]:focus,
[type=week],
[type=week]:focus,
textarea,
textarea:focus,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 0;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow .5s,border-color .25s ease-in-out;
  appearance: none;
  box-shadow: none;
  font-size: .8125rem;
  padding: 11px 10px;
  font-size: rem-calc(12);
  line-height: 2;

  @media #{$desktop} {
    padding: 15px 19px;
    font-size: rem-calc(18);
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: rem-calc(12);
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
  color: #000;
  @media #{$desktop} {
    font-size: rem-calc(18);
  }
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: rem-calc(12);
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
  color: #000;
  @media #{$desktop} {
    font-size: rem-calc(18);
  }
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: rem-calc(12);
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
  color: #000;
  @media #{$desktop} {
    font-size: rem-calc(18);
  }
}
:-moz-placeholder { /* Firefox 18- */
  font-size: rem-calc(12);
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
  color: #000;
  @media #{$desktop} {
    font-size: rem-calc(18);
  }
}

.btn {
  font-size: rem-calc(14);
  font-weight: 400;
  line-height: 1.8;
  text-transform: uppercase;
  background-color: #000000;
  padding: 11px 10px;
  color: #fff;
  transition: all $default-time;
  width: 100%;
  border: 0;
  @media #{$desktop} {
    font-size: rem-calc(20);
    padding: 15px 19px;

  }

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.label-select {
  position: relative;
  width: 100%;
  display: block;
  &::after {
    content: "";
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4.5px 0 4.5px;
    border-color: #000 transparent transparent transparent;
  }

  select {
    height: 100%;
  }
}

.back-link {
  display: inline-flex;
  align-items: center;
  font-size: rem-calc(18);
  color: #000;
  svg path{
    transition: all $default-time;
  }

  &:hover {
    svg {
      fill: $color-hover;
    }
    path:first-child {
      transform: translate(-40px);
    }
  }

  svg {
    min-width: 28px;
    min-height: 33px;
    margin-right: 20px;
    fill: #000;
    overflow: visible;
    transition: all .1s;
  }
}

table {
  width: 100%;
  margin: 20px 0;

  tr {
    &:first-child {
      background-color: #e9e8f9;
    }
    &:nth-child(2n + 1):not(:first-child) {
      background-color: #f4f2f2;
    }
  }
  td {
    padding: 15px 10px;
    border: 1px solid #dedede;
    text-align: center;
  }

  caption {
    text-align: left;
    margin: 0 0 20px;
    font-size: 30px;
    font-family: gothamprobold;

  }
}
