$default-time: 0.3s;

$color-line: #e8e8e8;
$color-icon: #383838;

$bg-menu: #f1f1f1;

$color-hover: #4d58a5;

$iconfont: icon;

$desktop: "screen and (min-width: 1601px)";
$laptop: "screen and (min-width: 1025px)";

$icon-poket: "\e906";
$icon-telegram: "\e900";
$icon-brand: "\e901";
$icon-marketing: "\e902";
$icon-develop: "\e903";
$icon-web: "\e904";
$icon-next: "\e905";
$icon-facebook: "\ea91";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-share: "\ea82";
$icon-google-plus: "\ea8b";
