$default-time: 0.3s;

$color-line: #e8e8e8;
$color-icon: #383838;

$bg-menu: #f1f1f1;

$color-hover: #4d58a5;

$iconfont: icon;

$desktop: "screen and (min-width: 1601px)";
$laptop: "screen and (min-width: 1024px)";
