<section class="home scrollify" data-section-name="home" id="header-outer">
  <img src="%=static=%img/general/logo-big.svg" alt="Idea Digital Agency" class="home-bg-logo">
  <div class="top-nav">
    <a href="/" class="logo">
        <img src="%=static=%img/general/logo.svg" alt="Idea Digital Agency">
    </a>
    <div class="top-action">
      <div class="top-lang">
        <a href="/" class="active">en</a>
        <a href="/ru">ru</a>
      </div>
      {{> menu/menu }}
      <a href="#" class="toggle-menu"><span></span><span></span><span></span></a>
    </div>
  </div>
  <div class="home-content">
    <h1>WE BUILD COOL STUFF<br> WITH COOL PEOPLE</h1>
    <p class="line-after">A creative digital agency with expertise in web design and development</p>
  </div>
  <div class="home-social line-after line-before">
    {{> social/social }}

  </div>
  <a href="#about" class="scroll-down arr-bottom arr" data-section-link="about">Discover</a>
</section>
