section.home {
  background: url(%=static=%general/bg.svg) 0 0/116px 200px;
  position: relative;
  @media #{$laptop} {
    background: url(%=static=%general/bg.svg) -21px 190px/354px 570px;
  }
  @media #{$desktop} {
    background: url(%=static=%general/bg.svg) 0 190px/480px 769px;
  }

  h1 {
    margin-top: -22px;
    margin-bottom: 13px;
    @media #{$laptop} {
      margin-top: 28px;
      margin-bottom: 0;
    }

    @media #{$desktop} {
      margin-top: 45px;
      line-height: 1.2;
    }
  }

  .home-bg-logo {
    width: 207px;
    position: absolute;
    right: -60px;
    top: 104px;
    z-index: -1;
    max-height: 80vh;
    @media #{$laptop} {
      width: 454px;
      bottom: 11%;
      top: auto;
      right: 98px;
    }

    @media #{$desktop} {
      bottom: 7%;
      right: 115px;
      width: 35.157%;
    }
  }

  .home-content {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    @media #{$laptop} {
      left: 83px;
    }
    @media #{$desktop} {
      left: 123px;
    }
    p {
      text-transform: uppercase;
      margin: 0;
      font-size: rem-calc(14);
      @media #{$laptop} {
        &::after {
          width: 129px;
        }
      }
      @media #{$desktop} {
        font-size: rem-calc(18);

        &::after {
          width: 203px;
        }
      }
    }
  }

  .home-social {
    position: absolute;
    left: 22px;
    bottom: 87px;
    @media #{$laptop} {
      bottom: 70px;

      &::after,
      &::before {
        width: 161px;
      }
    }
    @media #{$desktop} {
      bottom: 57px;

      &::after,
      &::before {
        width: 258px;
      }
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translate(-50%);
    text-transform: uppercase;
    font-family: gothamprobold;
    font-size: rem-calc(9);
    font-weight: 700;
    line-height: 1.26;
    @media #{$laptop} {
      font-size: rem-calc(11);
      line-height: 1;
    }

    @media #{$desktop} {
      font-size: rem-calc(18);
      font-weight: 400;
    }

    &:hover {
      &::after {
        border-color: $color-hover transparent transparent transparent;
      }
      &::before {
        background-color: $color-hover;
      }
    }

    @media #{$laptop} {
      &::after {
        animation: scroll 1.5s ease infinite;
        @keyframes scroll {
          0% { bottom: 20px; }
          100%{ bottom: 0; }
        }
      }
      &::before {
        animation: height 1.5s ease infinite;
        @keyframes height {
          0% {
            height: 35px;
            bottom: 20px;
           }
          100%{
            height: 55px;
            bottom: 0;
           }
        }
      }
    }
    @media #{$desktop} {
      &::after {
        animation: scroll 1.5s ease infinite;
        @keyframes scroll {
          0% { bottom: 20px; }
          100%{ bottom: 0; }
        }
      }
      &::before {
        animation: height 1.5s ease infinite;
        @keyframes height {
          0% {
            height: 55px;
            bottom: 20px;
           }
          100%{
            height: 75px;
            bottom: 0;
           }
        }
      }
    }
  }
}
