<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Yeti Agency</li>
    </ul>
  </div>


  <div class="top-bar-right">
    <ul class="menu align-right">
      <li>
        <a href="#">One</a>
      </li>


      <li>
        <a href="#">Two</a>
      </li>


      <li>
        <a href="#">Three</a>
      </li>


      <li>
        <a href="#">Four</a>
      </li>
    </ul>
  </div>
</div>


<div class="callout large primary">
  <div class="row column text-center">
    <h1>Our Blog</h1>
  </div>
</div>


<div class="row" id="content">
  <div class="medium-8 columns">
    <div class="blog-post">
      <h3>Awesome blog post title <small>3/6/2016</small></h3>
      <img class="thumbnail" src="http://placehold.it/850x350">

      <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu
      ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>


      <div class="callout">
        <ul class="menu simple">
          <li>
            <a href="#">Author: Mike Mikers</a>
          </li>


          <li>
            <a href="#">Comments: 3</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="blog-post">
      <h3>Awesome blog post title <small>3/6/2016</small></h3>
      <img class="thumbnail" src="http://placehold.it/850x350">

      <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu
      ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>


      <div class="callout">
        <ul class="menu simple">
          <li>
            <a href="#">Author: Mike Mikers</a>
          </li>


          <li>
            <a href="#">Comments: 3</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="blog-post">
      <h3>Awesome blog post title <small>3/6/2016</small></h3>
      <img class="thumbnail" src="http://placehold.it/850x350">

      <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu
      ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>


      <div class="callout">
        <ul class="menu simple">
          <li>
            <a href="#">Author: Mike Mikers</a>
          </li>


          <li>
            <a href="#">Comments: 3</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="blog-post">
      <h3>Awesome blog post title <small>3/6/2016</small></h3>
      <img class="thumbnail" src="http://placehold.it/850x350">

      <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu
      ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>


      <div class="callout">
        <ul class="menu simple">
          <li>
            <a href="#">Author: Mike Mikers</a>
          </li>


          <li>
            <a href="#">Comments: 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="medium-3 columns sticky-container" data-sticky-container="" style="height: 318px;">
    <div class="sticky is-anchored is-at-top" data-anchor="content" data-events="resize" data-resize="hvy8qd-sticky" data-sticky="mttbxj-sticky" style=
    "max-width: 285px; margin-top: 0px; top: 0px; bottom: 1966px;">
      <h4>Categories</h4>


      <ul>
        <li>
          <a href="#">Skyler</a>
        </li>


        <li>
          <a href="#">Jesse</a>
        </li>


        <li>
          <a href="#">Mike</a>
        </li>


        <li>
          <a href="#">Holly</a>
        </li>
      </ul>


      <h4>Authors</h4>


      <ul>
        <li>
          <a href="#">Skyler</a>
        </li>


        <li>
          <a href="#">Jesse</a>
        </li>


        <li>
          <a href="#">Mike</a>
        </li>


        <li>
          <a href="#">Holly</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="row column">
  <ul aria-label="Pagination" class="pagination" role="navigation">
    <li class="disabled">Previous</li>


    <li class="current"><span class="show-for-sr">You're on page</span> 1</li>


    <li>
      <a aria-label="Page 2" href="#">2</a>
    </li>


    <li>
      <a aria-label="Page 3" href="#">3</a>
    </li>


    <li>
      <a aria-label="Page 4" href="#">4</a>
    </li>


    <li class="ellipsis">
    </li>


    <li>
      <a aria-label="Page 12" href="#">12</a>
    </li>


    <li>
      <a aria-label="Page 13" href="#">13</a>
    </li>


    <li>
      <a aria-label="Next page" href="#">Next</a>
    </li>
  </ul>
</div>