footer {
  justify-content: space-between;
  text-align: center;
  font-size: rem-calc(10);
  position: relative;
  .social-list {
    position: absolute;
    bottom: 140px;
    width: 100%;
    justify-content: center;
  }
  @media #{$laptop} {
    text-align: left;
    font-size: rem-calc(16);
    display: flex;
    .social-list {
      position: static;
      justify-content: flex-start;
      width: auto;
    }
  }

  @media #{$desktop} {
    font-size: rem-calc(18);
  }
}
