.get-in-touch {
  transition: all $default-time*2 ;
  position: relative;
  top: 0;
  right: -200%;
  bottom: 0;
  width: 0;
  background-color: #f1f1f1;
  z-index: 2000;
  overflow: auto;
  height: 100%;
  @media #{$laptop} {
    overflow: hidden;
    display: flex;
    height: 100%;
    position: fixed;
  }
  &.active {
    display: flex;
    right: 0;
    width: 100%;
  }

  &-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;

    @media #{$laptop} {
      display: flex;
      height: 100%;
    }
  }

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &-form {
      width: 100%;
      position: relative;
      z-index: 100;
      @media #{$laptop} {
        max-width: 50%;
        padding-right: 10%;
        width: 50%;
        box-sizing: border-box;
      }
      form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @media #{$laptop} {
          flex-direction: row;
        }
      }

      input,
      textarea,
      select {
        margin-bottom: 0;
      }

      .block-field {
        margin-bottom: 8px;
        width: 100%;
        max-width: 100%;
        position: relative;
        display: flex;

        @media #{$laptop} {
          width: calc(50% - 10px);
          max-width: calc(50% - 10px);
          margin-right: 20px;
          margin-bottom: 30px;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }

        &-textarea {
          width: 100%;
          max-width: 100%;
          margin-right: 0;
        }
      }


      [type="submit"] {
        margin-bottom: 0;
        width: 100%;
        display: block;
      }
  }

  &-address {
    padding: 10px;
    @media #{$laptop} {
      padding: 0;
    }

    h4, p, a {
      font-size: rem-calc(18);
      line-height: 1.5;
      text-transform: uppercase;
      margin: 0;
      @media #{$laptop} {
        font-size: rem-calc(24);
      }
    }

    h4 {
      font-size: rem-calc(24);
      margin-bottom: 30px;
      @media #{$laptop} {
        font-size: rem-calc(36);
      }
    }
  }
}

.get-in-touch-address:not(.thanks-massege) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 200px;
  padding-top: 100px;
  @media #{$laptop} {
    height: 100%;
    padding: 0;
    width: 50%;
    padding: 0 10%;
    box-sizing: border-box;
    align-items: flex-end;
  }
}

.line-load {
  position: relative;
  @media #{$laptop} {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: 0;
      height: 0;
      width: 2px;
      background-color: #cccccc;
      transition: all 5s;
      z-index: 1;
    }

  }

  &.load {
    .get-in-touch-form {
      @media #{$laptop} {
        padding: 0 20px 0 10%;
      }
    }
    &::after {
      height: 100%;
    }
  }
}

.hide-mobile {
  @media (max-width: 1024px) {
    display: none!important;
  }
}
