<div class="get-in-touch">
  <div class="get-in-touch-content">
      <span class="close">×</span>
      <div class="get-in-touch-address">
          <h4>Ukraine, Dnipro, </h4>
          <p>M.Malinovskogo 2/4</p>
          <p><a href="tel:+380980929090">+380980929090</a></p>
          <p><a href="mailto:contact@ideadigital.agency">contact@ideadigital.agency</a></p>
      </div>
      <div class="get-in-touch-form">
          <form id="get-in-touch-form" class="ajaxform">
            <div class="block-field">
              <input type="text" name="first" placeholder="first name" required autocomplete="off">
            </div>
            <div class="block-field">
              <input type="text" name="second" placeholder="second name" required autocomplete="off">
            </div>
            <div class="block-field">
              <input type="email" name="email" placeholder="e-mail" required autocomplete="off">
            </div>
            <div class="block-field">
              <input type="tel" name="phone" placeholder="phone (optional)" required autocomplete="off">
            </div>
            <div class="block-field">
              <label for="budget" class="label-select">
                <select name="budget" id="budget" required>
                    <option value="" disabled selected>select a budget range</option>
                    <option value="500$-1000$">500$-1000$</option>
                    <option value="1000$-3000$">1000$-3000$</option>
                    <option value="3000$ +">3000$ +</option>
                </select>
              </label>
            </div>
            <div class="block-field">
              <input type="text" name="company" placeholder="company" autocomplete="off">
            </div>
            <div class="block-field block-field-textarea">
              <textarea name="message" placeholder="message" required></textarea>
            </div>
            <div class="block-field">
              <input type="submit" value="submit" class="btn">
            </div>
          </form>
      </div>
  </div>
</div>
