.case {
  box-sizing: border-box;
  padding-top: 80px;
    background: url(%=static=%general/about-line.png) 1px 0/25% 570px;

  @media #{$desktop} {
    background: url(%=static=%general/about-line.png) -3px 0;
  }

  .sidebar {
    h2 {
      font-size: rem-calc(19);
      padding-top: 70px;

      &::after {
        font-size: rem-calc(45);
        @media #{$desktop} {
          font-size: rem-calc(60);
        }
      }

      &::before {
        width: 1900px;
        top: 95%;
      }
    }

    p {
      padding: 0;
      margin: 0;
      font-size: rem-calc(16);

      &.title {
        margin: 10px 0;
        color: #c7c7c7;
      }
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .social-list {
    display: inline-flex;
    margin-top: 30px;

    a {
      text-decoration: none;
    }

    &.line-after {
      &::after {
        width: 62px;
      }
    }

    &.line-before {
      &::before {
        width: 1162px;
      }
    }
  }

  .main {
    img {
      margin-bottom: 80px;
    }
  }

  .main-description {
    font-size: rem-calc(19);
    background: url(%=static=%general/logo-big.svg) 98% 79%/340px 420px no-repeat;

    @media #{$laptop} {
      height: 80vh;
    }

    h2 {
      font-family: gothamprobold;
      &:nth-child(n + 2) {
        margin-top: 40px;
      }
    }
  }
}
