<section class="case">
  <div class="main-container">
    <aside class="sidebar">
      <h2 class="big-shadow line-before" data-title="{{pageName}}">{{pageName}}</h2>
      <p class="title">{{clientTitle}}</p>
      <p>{{clientName}}</p>
      <p class="title">{{projectTitle}}</p>
      <p>{{projectName}}</p>
      <p class="title">{{serviceTitle}}</p>
      {{#each serviceName}}
        <p>{{this}}</p>
      {{/each}}
      <p class="title">{{siteTitle}}</p>
      <p><a href="{{siteUrl}}">{{siteUrlText}}</a></p>
      <ul class="social-list line-before line-after">
        {{#each socialList }}
          <li><a href="{{this.link}}" target="_blank"  class="icon icon-{{this.socialType}}"></a></li>
        {{/each}}
      </ul>
    </aside>
    <article class="main">
      <div class="main-description">
        {{{description}}}
      </div>
      {{#each imgs }}
        <img src="{{this}}">
      {{/each}}
    </article>
  </div>
</section>
