<section class="case scrollify" data-section-name="case" id="case">
  <div class="case-content block-center-content">
    <h2 class="big-shadow line-before" data-title="{{pageName}}">{{pageName}}</h2>
  </div>

  <div class="case-list">
      <div class="case-list-carusel">
        {{#each caseList}}
          <a class="case-item" href="{{this.link}}">
            <img src="{{this.image}}" alt="{{this.title}}">
            <span class="case-item-info">
                <h4>{{this.title}}</h4>
                <span class="arr arr-right">watch case</span>
            </span>
          </a>
        {{/each}}
      </div>
      <a class="case-item next-slide" href="#" style="background-image: url()">
          <img src="%=static=%img/assets/case/placeholder.png">
          <span class="case-item-info">
            <span>view more <br /> projects</span>
          </span>
      </a>
  </div>
</section>
