<section class="contacts scrollify" data-section-name="contacts" id="contacts">
  <div class="contacts-content block-center-content">
      <h2 class="big-shadow line-before" data-title="Contact.">Contact.</h2>
      <div class="contacts-form">
        <span>So what's next?</span>
        <p><span>We’re ready!</span> <a href="#" class="toggle-form arr arr-right">get in touch</a></p>
      </div>
  </div>
  <footer>
    <p>© 2017 Idea Digital Agency Ukraine, Dnipro, M.Malinovskogo 2/4 <a href="tel:380980929090">+380980929090</a>  <a href="mailto:contact@ideadigital.agency">contact@ideadigital.agency</a></p>
    {{> social/social }}
  </footer>
</section>
