<section class="contacts scrollify" data-section-name="contacts" id="contacts">
  <div class="contacts-content block-center-content">
      <h2 class="big-shadow line-before" data-title="{{pageName}}">{{pageName}}</h2>
      <div class="contacts-form">
        <span>{{smallTitle}}</span>
        <p><span>{{bigTitle}}</span> <a href="#" class="toggle-form arr arr-right">{{linkFormText}}</a></p>
      </div>
  </div>
  <footer>
    <p>{{address}} <a href="tel:380980929090">+380980929090</a>  <a href="mailto:contact@ideadigital.agency">contact@ideadigital.agency</a></p>
    {{> social/social }}
  </footer>
</section>
