.navigation {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e8e8e8;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 300;
  @media #{$laptop} {
    display: flex;
    width: 6px;
  }
  @media #{$desktop} {
    width: 8px;
  }

  a {
    display: block;
    width: 6px;
    height: 42px;
    background-color: #000;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    text-indent: -9999em;
    opacity: 0;
    transition: all $default-time;
    @media #{$desktop} {
      width: 8px;
    }
    &.active {
      opacity: 1;
    }
  }
}
