.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(%=static=%general/about-line.png) -3px 0;

  p {
    @media #{$desktop} {
      font-size: rem-calc(24);
    }
  }

  h3 {
    margin: 55px 0 24px;
    @media #{$desktop} {
      margin: 90px 0 109px;
    }
  }

  .big-shadow.line-before {
    &::before {
      width: 600px;
      bottom: 12px;
      top: auto;
    }
  }
}
