.header {
  .top-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 300;
  }

    .top-action {
        display: flex;
        align-items: center;
        @media #{$laptop} {
          align-items: flex-start;
        }
    }

    .top-lang {
      margin-right: 30px;
      @media #{$laptop} {
        margin-top: 25px;
        margin-right: 0;
      }

      @media #{$desktop} {
        margin-top: 36px;
        margin-right: 5px;
      }
    }


    .toggle-menu {
      width: 30px;
      height: 15px;
      position: relative;
      display: inline-block;
      padding: 10px;
      z-index: 2000;
      @media #{$laptop} {
        margin: 22px 30px;
      }
      @media #{$desktop} {
        width: 43px;
        height: 20px;
        padding: 20px;
        margin: 20px;
      }

      span {
        display: block;
        height: 1px;
        background-color: #0a0a0a;
        border: 1px solid #0a0a0a;
        top: 16px;
        left: 10px;
        right: 10px;
        position: absolute;
        z-index: 200;
        @media #{$desktop} {
          top: 28px;
          left: 20px;
          right: 20px;
          height: 2px;
        }

        &:nth-child(2) {
          transition: all $default-time;
        }

        &:first-child,
        &:last-child {
          background-color: #fff;
          z-index: 100;
          transition: top $default-time $default-time, bottom $default-time $default-time, background-color $default-time, transform $default-time;
        }

        &:first-child {
          top: 10px;

          @media #{$desktop} {
            top: 20px;
          }
        }

        &:last-child {
          bottom: 10px;
          top: auto;
          @media #{$desktop} {
            bottom: 20px;
          }
        }
      }

      &.active {
        span {
          &:nth-child(2){
            transform: rotate(45deg);
            transition: all $default-time $default-time;
          }

          &:first-child {
            top: 16px;
            background-color: #0a0a0a;
            transform: rotate(-45deg);
            transition: top $default-time, bottom $default-time, background-color $default-time $default-time, transform $default-time $default-time;
            @media #{$desktop} {
              top: 28px;
            }
          }
          &:last-child {
            bottom: 16px;
            background-color: #0a0a0a;
            transform: rotate(-45deg);
            transition: top $default-time, bottom $default-time, background-color $default-time $default-time, transform $default-time $default-time;
            @media #{$desktop} {
              bottom: 28px;
            }
          }
        }
      }
    }


    .main-menu {
      position: fixed;
      width: 100%;
      right: -100%;
      top: 0;
      bottom: 0;
      z-index: 1000;
      background: $bg-menu;
      transition: all $default-time;
      overflow: hidden;
      @media #{$laptop} {
        right: -400px;
        width: 400px;
        background: rgba($bg-menu, 0.5);
      }


      &.active {
        border-radius: 0;
        right: 0;
      }

      .social-list {
        position: absolute;
        bottom: 20px;
        right: 50px;
      }

      .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 20%;
        right: 0;
        width: 100%;
        text-align: center;
        @media #{$laptop} {
          text-align: right;
          right: 50px;
        }
        a {
          font-size: rem-calc(30);
          text-transform: uppercase;
          letter-spacing: -1.2px;
          @media #{$laptop} {
            letter-spacing: -1.92px;
            font-size: rem-calc(40);
          }
          @media #{$desktop} {
            font-size: rem-calc(50);
          }
        }
      }
    }
}
