{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load applicationcontent_tags %}


{% include "includes/head.html" %}


<body class="page blog-wrapper blog-page">
        <script>
            fbq('track', 'Lead', {
            value: 10.00,
            currency: 'USD',
            });
        </script>
        {% include "includes/header.html" %}
<div class="main-container">
    <section class="blog-item">
        <div class="blog-page-top">
            <a href="{% app_reverse "blog_list" "blog.urls" %}" class="back-link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.75 56.01">
                    <path d="M20.46,16.8a1,1,0,0,0-1.3-1.52l-.11.11-12,12A1,1,0,0,0,7,28.8H7l12,12a1,1,0,0,0,1.41-1.41L10.16,29.09H40.75a1,1,0,0,0,0-2H10.16Z" transform="translate(0 0.01)" />
                    <path d="M48.47,0H1.28A1.16,1.16,0,0,0,0,1V22a1.31,1.31,0,0,0,2.55,0V2H47.2V54H2.55V34A1.31,1.31,0,0,0,0,34V55a1.16,1.16,0,0,0,1.28,1h47.2a1.16,1.16,0,0,0,1.27-1V1A1.16,1.16,0,0,0,48.47,0Z" transform="translate(0 0.01)"
                    />
                </svg>
                {% trans "Назад в блог" %}
            </a>
            <h1>{{object.title}}</h1>
            <div class="blog-page-meta"{% trans "Опубликовано:" %} <i>{{object.date}}</i> {% trans "Автор:" %} <i>{{object.author|default_if_none:""}}</i>
            </div>
            <div class="blog-page-image" style="background-image: url({{object.get_image_top}})"></div>
        </div>
        <div class="blog-page-content">
            <div class="share-page">
                <div class="share-page__toggle icon icon-share"></div>
                <ul>
                    <li class="share-page__link share-page__twitter icon icon-facebook">
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                       </a>
                        <script>
                            window.twttr = (function(d, s, id) {
                                                    var js, fjs = d.getElementsByTagName(s)[0],
                                                      t = window.twttr || {};
                                                    if (d.getElementById(id)) return t;
                                                    js = d.createElement(s);
                                                    js.id = id;
                                                    js.src = "https://platform.twitter.com/widgets.js";
                                                    fjs.parentNode.insertBefore(js, fjs);

                                                    t._e = [];
                                                    t.ready = function(f) {
                                                      t._e.push(f);
                                                    };

                                                    return t;
                                                  }(document, "script", "twitter-wjs"));
                        </script>
                    </li>
                    <li class="share-page__link share-page__facebook">
                        <div id="fb-root"></div>
                        <script>
                            (function(d, s, id) {
                                                    var js, fjs = d.getElementsByTagName(s)[0];
                                                    if (d.getElementById(id)) return;
                                                    js = d.createElement(s); js.id = id;
                                                    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=961595533935087';
                                                    fjs.parentNode.insertBefore(js, fjs);
                                                  }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
                        </div>
                    </li>
                    <li class="share-page__link share-page__google icon icon-google-plus">
                        <!-- Вставьте этот тег в заголовке страницы или непосредственно перед закрывающим тегом основной части. -->
                        <script src="https://apis.google.com/js/platform.js" async defer>
                            {lang: 'ru'}
                        </script>

                        <!-- Поместите этот тег туда, где должна отображаться кнопка "Поделиться". -->
                        <div class="g-plus" data-action="share" data-height="15"></div>
                    </li>
                    <li class="share-page__link share-page__telegram icon icon-telegram">
                        <a class="telegram-share" href="javascript:window.open('https://t.me/share/url?url='+encodeURIComponent(window.location.href), '_blank')">telegram</a>
                    </li>
                </ul>
            </div>
            <p>{{object.text|default_if_none:""|safe}}</p>
        <div class="blog-page-bottom">

            <span class="blog-page-bottom__title">{% trans "Оцініть статтю" %}</span>
            <div class="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"/>
                <span class="rating__stars {% if voted %}{% else %}active{% endif %}">
                <span class="rating__star{% if object.votes > 0 %}{% if object.get_rating > 0 %} active{% endif %}{% endif %}"><span class="rating__star-active" style="width:{% if object.votes > 0 %}{% if object.get_rating < 0.99 %}{{object.get_rating_for_width}}{% endif %}{% endif %}%"></span></span>
                <span class="rating__star{% if object.votes > 0 %}{% if object.get_rating > 0.99 %} active{% endif %}{% endif %}"><span class="rating__star-active" style="width:{% if object.votes > 0 %}{% if object.get_rating < 1.99 %}{{object.get_rating_for_width}}{% endif %}{% endif %}%"></span></span>
                <span class="rating__star{% if object.votes > 0 %}{% if object.get_rating > 1.99 %} active{% endif %}{% endif %}"><span class="rating__star-active" style="width:{% if object.votes > 0 %}{% if object.get_rating < 2.99 %}{{object.get_rating_for_width}}{% endif %}{% endif %}%"></span></span>
                <span class="rating__star{% if object.votes > 0 %}{% if object.get_rating > 2.99 %} active{% endif %}{% endif %}"><span class="rating__star-active" style="width:{% if object.votes > 0 %}{% if object.get_rating < 3.99 %}{{object.get_rating_for_width}}{% endif %}{% endif %}%"></span></span>
                <span class="rating__star{% if object.votes > 0 %}{% if object.get_rating > 3.99 %} active{% endif %}{% endif %}"><span class="rating__star-active" style="width:{% if object.votes > 0 %}{% if object.get_rating < 4.99 %}{{object.get_rating_for_width}}{% endif %}{% endif %}%"></span></span>
                </span>
                (<span itemprop="ratingValue">{% if object.votes > 0 %}{{object.get_rating}}{% else %}0{% endif %}</span> {% trans "з" %} <span itemprop="bestRating">5</span> {% trans "на основі" %} <span itemprop="reviewCount">{{object.votes}}</span> {% trans "відгуків"%})
            </div>

            <!-- <span class="blog-page-bottom__title">Оцените статью</span>
                        <div class="rating"><span class="rating__stars"><span class="rating__stars-active" style="width: 20%"></span></span>(4 из 5 на основе 7 отзывов)</div> -->
            <div class="tags">
                {% for blogtag in tags %}
                <a href="{% app_reverse "blog_list" "blog.urls" %}?tag={{blogtag.tag_en}}">#{{blogtag.tag}}</a>
                {% endfor %}
            </div>
        </div>
    </section>
    {% if recommended.count > 0 %}
    <div class="more-post">
        <h2>{% trans "вам також буде цікаво" %}</h2>
        <div class="blog__list">
            {% for blog in recommended %}
            <a class="blog__list-item" href="{{blog.get_absolute_url}}">
                <div class="blog__list-item-img" style="background-image: url({{blog.get_image_preview}})"></div>
                <div class="blog__list-item-content">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 56.01" class="blog__list-item-icon">
                        <path class='blog__list-item-icon-arr' d="M21.29,39.29a1,1,0,1,0,1.3,1.52l.11-.11,12-12a1,1,0,0,0,0-1.42l-12-12a1,1,0,0,0-1.41,1.41L31.59,27H1a1,1,0,0,0,0,2H31.59Z" transform="translate(0 0.01)" />
                        <path class='blog__list-item-icon-block' d="M86.72,0H39.53a1.16,1.16,0,0,0-1.28,1V22a1.31,1.31,0,0,0,2.55,0V2H85.45V54H40.8V34a1.31,1.31,0,0,0-2.55,0V55a1.16,1.16,0,0,0,1.28,1h47.2A1.16,1.16,0,0,0,88,55V1A1.16,1.16,0,0,0,86.72,0Z" transform="translate(0 0.01)"
                        />
                    </svg>
                    <h3 class="blog__list-item-title">{{blog.title}}</h3>
                    <span class="blog__list-item-cat">{{blog.get_subtitle_tag}}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
  <div class="keep-up" id="mc_embed_signup">
          <form action="https://agency.us17.list-manage.com/subscribe/post?u=da21bce3f99d5f364edf99d19&amp;id=f0edfb717c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
            <div class="keep-up__text" id="mc_embed_signup_scroll">
                <img src="{% static "img/general/mail.png" %}" alt="Keep up with us!" width="35">
                <h3>{% trans "Слідкуй за нами!" %}</h3>
                <p>{% trans "Ми поділяємо новини та проекти в нашому інформаційному бюлетені." %}</p>
            </div>
            <div class="keep-up__inputs">
                <input type="text" name="FNAME" class="" id="mce-FNAME" placeholder="Имя" required>
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-mail" required>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_da21bce3f99d5f364edf99d19_f0edfb717c" tabindex="-1" value="">
                </div>
                <input type="submit" value="{% trans "підписатися" %}" name="subscribe" id="mc-embedded-subscribe">
            </div>
    </div>
    </form>
</div>
