.keep-up {
  background-color: #f4f2f2;

  form {
    display: flex;
    padding: 33px 10px;
    flex-direction: column;

    @media #{$laptop} {
      padding: 33px 30px;
      flex-direction: row;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    @media #{$laptop} {
      justify-content: flex-start;
    }

    p {
      margin: 20px 0 0;
      min-width: 100%;
      font-size: rem-calc(19);
      @media #{$laptop} {
        margin: 0;
      }
    }

    h3 {
      margin: 0;
      color: #343434;
      font-family: gothamproblack;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 0 10px;

      @media #{$laptop} {
        font-size: 30px;
        margin: 0 20px 0 0;
        text-align: left;
      }
    }

    img {
      width: 26px;

      @media #{$laptop} {
        margin-bottom: 4px;
        width: 35px;
      }
    }
  }
  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media #{$laptop} {
      flex-wrap: nowrap;
    }

    input:not([type=submit]) {
      background: none;
      border: 0;
      border-bottom: 1px solid rgba(#000, 0.5);
      color: rgba(#000, 0.5);
      margin: 10px 0 0;
      padding: 0;
      font-size: rem-calc(19);
      text-align: center;
      @media #{$laptop} {
        text-align: left;
        margin: 0 0 0 23px;
        width: 183px;
      }
    }

    [type=submit] {
      background: #343434;
      color: #fff;
      padding: 14px 38px;
      border: 0;
      margin: 10px 0 0;
      border-radius: 0;
      transition: all $default-time;
      width: 100%;
      @media #{$laptop} {
        margin: 0 0 0 23px;
        width: auto;
      }
      &:hover {
        background: #fff;
        color: #343434;
      }
    }
  }
}
