{% load i18n %}
{% load staticfiles %}
{% load feincms_tags %}
{% load feincms_page_tags %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{object.seo_title}}</title>
  <meta content="{{object.seo_description|safe}}" name="description">
  <meta content="{{object.seo_keywords|safe}}" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta content="telephone=no" name="format-detection">
  <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
  <meta name="HandheldFriendly" content="true">


  <!--[if (gt IE 9)|!(IE)]><!-->
  <link href="{% static "css/main.min.css" %}" rel="stylesheet" type="text/css">
  <!--<![endif]-->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67277385-5"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-67277385-5');
  </script>
  <!-- Facebook Pixel Code -->
  <script>
      !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '496784744053400');
        fbq('track', 'PageView');
  </script>
  <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=496784744053400&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->

  <meta property="og:url" content="{{object.get_absolute_url}}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{object.seo_title}}">
  <meta name="og:description" content="{{object.seo_description}}">

  <link rel="image_src" href="" />
  <link rel="apple-touch-icon" sizes="57x57" href="https://ideadigital.agency/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://ideadigital.agency/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://ideadigital.agency/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://ideadigital.agency/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://ideadigital.agency/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://ideadigital.agency/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://ideadigital.agency/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://ideadigital.agency/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://ideadigital.agency/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://ideadigital.agency/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://ideadigital.agency/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://ideadigital.agency/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://ideadigital.agency/favicon/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="https://ideadigital.agency/favicon/favicon.ico">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://ideadigital.agency/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script>
      (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
  </script>
</head>
