.services-content {
  height: 100%;
  @media #{$laptop} {
    background: url(%=static=%general/about-line.png) 1px 0/25% 570px;
  }
  @media #{$desktop} {
    background: url(%=static=%general/about-line.png) -3px 0;
  }
}

.services-list {
  height: 100%;
  @media #{$laptop} {
    display: flex;
  }
}

.services-item {
  height: calc(100% - 16px);
  max-height: 500px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media #{$laptop} {
    width: 25%
  }

  &:last-child {
    .icon {
      margin-top: 24px;
    }
  }

  &-content {
    padding: 20px;
    border: 1px solid $color-line;
    height: 100%;
    width: calc(100% - 78px);
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #fff;
    @media #{$laptop} {
      width: calc(100% - 26px);
      padding: 30px;
    }

    &.active {
      @media #{$laptop} {
        border: 6px solid #c8c8c8;
      }

      ul {
        height: 100%;
      }
    }

    ul {
      overflow: hidden;
      transition: all $default-time;
      list-style: none;
      text-align: left;
      margin: 0;
      padding: 0;
      font-size: rem-calc(12);
      line-height: 1.6;
      text-transform: lowercase;

      @media #{$laptop} {
        font-size: rem-calc(17);
        height: 0;
      }
      @media #{$desktop} {
        font-size: rem-calc(24);
      }

      li {
        &::before {
          content: "- ";
        }
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }

    .icon {
      height: 60px;
      font-size: rem-calc(50);
      &-develop {
        font-size: rem-calc(40);
      }
      @media #{$laptop} {
        font-size: rem-calc(66);
        &-develop {
          font-size: rem-calc(50);
        }
      }
      @media #{$desktop} {
        font-size: rem-calc(97);
        &-develop {
          font-size: rem-calc(66);
        }
      }
    }

    h3 {
      font-size: rem-calc(20);
      position: relative;
      margin-bottom: 45px;
      margin-top: 30px;
      @media #{$laptop} {
        font-size: rem-calc(25);
        margin-top: 56px;
      }
      @media #{$desktop} {
        font-size: rem-calc(36);
        margin-top: 100px;

      }
      &::after {
        content: "";
        width: 47px;
        height: 1px;
        background-color: #000;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

.services-count {
  font-size: rem-calc(13);
  text-align: center;
  display: block;
  padding: 26px 0 12px;
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  @media #{$laptop} {
    border-bottom: 1px solid #e8e8e8;

  }

  span {
    border-bottom: 1px solid $color-line;
    padding: 5px 10px;
  }
  @media #{$laptop} {
    font-size: 3.22vh;
    padding: 28px 0 68px;
  }

  @media #{$desktop} {
    font-size: rem-calc(26);
    padding: 90px 0 55px;
  }
}
