<section class="services scrollify" data-section-name="services" id="services">
  <div class="services-content">
      <div class="services-list">
        {{#each servicesList }}
          <div class="services-item">
              <div class="services-count">
                <span>{{this.count}}</span>
              </div>
              <div class="services-item-content">
                  <div class="icon icon-{{this.icon}}"></div>
                  <h3>{{this.title}}</h3>
                  <ul>
                    {{#each this.servicesList}}
                      <li>{{this}}</li>
                    {{/each}}
                  </ul>
              </div>
          </div>
        {{/each}}
      </div>
  </div>
</section>
