<section class="services scrollify" data-section-name="services">
  <div class="services-content">
      <div class="services-list">
          <div class="services-item">
              <span class="services-count">01</span>
              <div class="services-item-content">
                  <div class="icon icon-web"></div>
                  <h3>Web Design</h3>
                  <ul>
                      <li>Branding</li>
                      <li>UI / UX</li>
                      <li>Graphic Design</li>
                      <li>Responsive Website Design</li>
                      <li>User Experience Design</li>
                      <li>Photography + Videography</li>
                      <li>Motion Graphics</li>
                      <li>Environmental Design</li>
                      <li>User Interface Design (UI)</li>
                      <li>User Experience (UX)</li>
                      <li>Information Architecture</li>
                      <li>Wireframing & Prototyping</li>
                  </ul>
              </div>
          </div>
          <div class="services-item">
              <span class="services-count">02</span>
              <div class="services-item-content">
                  <div class="icon icon-develop"></div>
                  <h3>Web Development</h3>
                  <ul>
                      <li>Professional Websites</li>
                      <li>Ecommerce Solutions</li>
                      <li>Small Business Websites</li>
                      <li>Custom Websites</li>
                      <li>CMS Development</li>
                      <li>Responsive HTML/CSS</li>
                      <li>Site Architecture & Wire Frames</li>
                      <li>Website Reviews and Audits</li>
                      <li>Landing Pages</li>
                  </ul>
              </div>
          </div>
          <div class="services-item">
              <span class="services-count">03</span>
              <div class="services-item-content">
                  <div class="icon icon-marketing"></div>
                  <h3>Digital Marketing</h3>
                  <ul>
                      <li>SEO</li>
                      <li>PPC</li>
                      <li>Social Media</li>
                      <li>Content Marketing</li>
                      <li>Email Marketing</li>
                      <li>Website Optimization</li>
                      <li>Reputation Management</li>
                      <li>SOCIAL MEDIA ADVERTISING</li>
                      <li>YOUTUBE ADVERTISING</li>
                      <li>INFLUENCER OUTREACH</li>
                      <li>Social Media Strategy</li>
                      <li>Community Management</li>
                      <li>Facebook Applications</li>
                      <li>Monitoring and Analyses</li>
                      <li>Digital Media Planning</li>
                      <li>Campaign Activation</li>
                      <li>Conversation Analyses (ROI)</li>
                  </ul>
              </div>
          </div>
          <div class="services-item">
              <span class="services-count">04</span>
              <div class="services-item-content">
                  <div class="icon icon-brand"></div>
                  <h3>Brand/Identity  Strategy & Design</h3>
                  <ul>
                      <li>Brand Strategy</li>
                      <li>Website Planning</li>
                      <li>Marketing Campaigns</li>
                      <li>Identity Design</li>
                      <li>Message & Tone</li>
                      <li>Visual Systems</li>
                      <li>Logo Mark Design</li>
                      <li>Brand Book & Guidelines</li>
                      <li>Look & Feel</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
