.blog-page {
  .main-container {
    max-width: 1093px;

  }
}

.blog-page-content {
  a {
    color: $color-hover;
    text-decoration: none;
    transition: all $default-time;

    &:hover {
      color: $color-icon;
    }
  }

  ul {
    list-style: none;
    padding-left: 20px;

    li {
      position: relative;
      padding-left: 20px;
    }

    li::before {
      content: "○";
      font-size: 60%;
      color: #807dc9;
      position: absolute;
      line-height: 4px;
      left: 0;
      top: calc(50% - 5px);
    }
  }
}

.blog-page-meta {
  display: block;
  color: #c7c7c7;
  font-size: rem-calc(18);
  margin-bottom: 24px;
}

.blog-page-bottom {
  margin-top: 70px;

  &__title {
    font-size: rem-calc(24);
    font-family: gothampromedium;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
  }

  .rating {
    margin-bottom: 35px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    a {
      padding: 8px 15px 6px;
      background:#e9e8f9;
      color: #383838;
      font-size: rem-calc(19);
      margin-right: 9px;
      display: block;
      margin-bottom: 9px;
    }
  }
}
