.blog-page {
  &.blog-wrapper {
    @media #{$laptop} {
      background: url(%=static=%general/bg.svg) -24px 189px/354px 570px;
    }
    @media #{$desktop} {
      background: url(%=static=%general/bg.svg) 70px 245px/480px 769px;
    }
  }

  .header {
    @media #{$laptop} {
      // border-bottom: 1px solid #e8e8e8;
      // margin-bottom: 3px;
    }
  }

  .main-container {
    max-width: 1093px;
    position: relative;
  }
}

.blog-page-top {
  text-align: center;

  h1 {
    background-color: #fff;
    margin: 0;
    padding-bottom: 16px;
    margin-top: 0.83em;
    color: #000000;
    background-image: url(%=static=%general/bg-text.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media screen and (min-width: 1280px) {
    text-align: left;
  }
}

.blog-page-content {
  position: relative;
  background-color: #fff;

  @media screen and (min-width: 1280px) {
    position: static;
  }

  &>h2:first-child {
    padding-right: 50px;
  }

  a {
    color: $color-hover;
    text-decoration: none;
    transition: all $default-time;

    &:hover {
      color: $color-icon;
    }
  }

  ul {
    list-style: none;
    padding-left: 20px;

    li {
      position: relative;
      padding-left: 20px;
    }

    li::before {
      content: "○";
      font-size: 60%;
      color: #807dc9;
      position: absolute;
      line-height: 4px;
      left: 0;
      top: calc(50% - 5px);
    }
  }
}

.blog-page-meta {
  display: block;
  color: #c7c7c7;
  font-size: rem-calc(14);
  background-color: #fff;
  padding-bottom: 14px;
  margin: 0;
  @media screen and (min-width: 1280px) {
    font-size: rem-calc(18);
    margin-bottom: 24px;
  }
}

.blog-page-bottom {
  margin-top: 70px;

  &__title {
    font-size: rem-calc(24);
    font-family: gothampromedium;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: block;
    text-align: center;
    @media #{$laptop} {
      text-align: left;
    }
  }

  .rating {
    margin-bottom: 35px;
    flex-direction: column;

    .rating__stars {
      margin-bottom: 20px;
    }

    span {
      margin: 0 5px;
    }

    .rating__star {
      margin: 0;
    }

    @media #{$laptop} {
      flex-direction: row;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media #{$laptop} {
      justify-content: flex-start;
    }

    a {
      padding: 8px 15px 6px;
      background:#e9e8f9;
      color: #383838;
      font-size: rem-calc(19);
      margin-right: 9px;
      display: block;
      margin-bottom: 9px;
    }
  }
}

.share-page {
  position: absolute;
  right: -10px;
  width: 50px;
  text-align: center;
  box-shadow: -2px 2px 2px 0 rgba(#000, .1);
  background-color: #fff;
  padding-bottom: 10px;
  margin-top: -24px;
  padding-top: 24px;

  @media screen and (min-width: 1280px) {
    right: auto;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  &.active {
    ul {
      display: block;
    }

    .share-page__toggle {
      margin-bottom: 35px;

    }
  }


  &__twitter {
    &::after {
      content: $icon-twitter;
    }

    iframe {
      opacity: 0;
      height: 32px !important;
    }
  }

  &__facebook {
    .fb-share-button {
      opacity: 0;
       *  {
        height: 32px !important;
      }
    }

    &::after {
      content: $icon-facebook;
    }
  }

  &__google {
   * {
      opacity: 0;
      height: 32px !important;

    }

    &::after {
      content: $icon-google-plus;
    }
  }

  &__telegram {
    line-height: 30px;
    height: 30px!important;
    margin-top: -6px !important;
    a {
      opacity: 0;
      display: block;
      line-height: 32px;
    }
    &::after {
      content: $icon-telegram;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    display: none;
    padding: 0;

    @media screen and (min-width: 1280px) {
      display: block;
      padding: 100px 0 0;
    }

    li {
      position: relative;
      padding: 0;
      width: 45px;
      height: 32px;
      overflow: hidden;
      margin: 0;
      cursor: pointer;
      width: 100%;
      &:hover {
        color: $color-hover;
      }

      &::after {
        font-family: $iconfont;
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 0;
        pointer-events: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
      }

      &::before {
        display: none;
      }
    }
  }

  &__toggle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
    color: #fff;
    font-size: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}
