<section class="blog-item">
  <div class="blog-page-top">
    <a href="blog.html" class="back-link">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.75 56.01"><path d="M20.46,16.8a1,1,0,0,0-1.3-1.52l-.11.11-12,12A1,1,0,0,0,7,28.8H7l12,12a1,1,0,0,0,1.41-1.41L10.16,29.09H40.75a1,1,0,0,0,0-2H10.16Z" transform="translate(0 0.01)"/><path d="M48.47,0H1.28A1.16,1.16,0,0,0,0,1V22a1.31,1.31,0,0,0,2.55,0V2H47.2V54H2.55V34A1.31,1.31,0,0,0,0,34V55a1.16,1.16,0,0,0,1.28,1h47.2a1.16,1.16,0,0,0,1.27-1V1A1.16,1.16,0,0,0,48.47,0Z" transform="translate(0 0.01)"/></svg>
      {{backLink}}
    </a>
    <h1>ЗАГОЛОВОК ПОСТА БУДЕТ ЗДЕСЬ ОЧЕНЬ ДЛИННЫЙ В ДВЕ СТРОКИ</h1>
    <div class="blog-page-meta">Опубликовано: <i>11 ноября, 2017</i>. Автор: <i>James Bond</i></div>
    <div class="blog-page-image" style="background-image: url(%=static=%img/assets/blog-page/blog.jpg)"></div>
  </div>
  <div class="blog-page-content">
    <div class="share-page">
      <div class="share-page__toggle icon icon-share"></div>
      <ul>
        <li class="share-page__link share-page__twitter icon icon-facebook">
          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet">
          </a>
          <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
              t._e.push(f);
            };

            return t;
          }(document, "script", "twitter-wjs"));</script>
        </li>
        <li class="share-page__link share-page__facebook">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=961595533935087';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true"><a href="javascript:window.open('https://m.facebook.com/sharer/sharer.php?u='+encodeURIComponent(window.location.href), '_blank')" class="fb-xfbml-parse-ignore" target="_blank" href="">Share</a></div>
        </li>
        <li class="share-page__link share-page__google icon icon-google-plus">
          <!-- Вставьте этот тег в заголовке страницы или непосредственно перед закрывающим тегом основной части. -->
          <script src="https://apis.google.com/js/platform.js" async defer>
            {lang: 'ru'}
          </script>

          <!-- Поместите этот тег туда, где должна отображаться кнопка "Поделиться". -->
          <div class="g-plus" data-action="share" data-height="15"></div>
        </li>
        <li class="share-page__link share-page__telegram icon icon-telegram">
          <a class="telegram-share" href="javascript:window.open('https://t.me/share/url?url='+encodeURIComponent(window.location.href), '_blank')">telegram</a>
        </li>
      </ul>
    </div>
    <h2>Первый заголовок</h2>
    <p>MroSupply — компания которая занимается продажей промышленных товаров с 1898 года. Сайту mrosupply.com сейчас уже более 6 лет, на данный момент на нем насчитывается более 200 брендов и 700 000 доступных товаров для покупки. Среди их постоянных клиентов такие бренды как Coca Cola, 7up, United, Whole Foods, Hormel Foods и многие другие.</p>
    <h3>Второй заголовок</h3>
    <p>Створити сайт для гри у стилі хоррор нелегко, але задоволення від процесу виправдовує всі труднощі. Отже ми, спроектували інтерфейс, розробили атмосферний дизайн сайту на основі ілюстрації для екшн гри, передали эмоції, а також відчули на собі потойбічча Вікторианської епохи 1860 року.</p>
    <p>Створити сайт для гри у стилі хоррор нелегко, але задоволення від процесу виправдовує всі труднощі. Отже ми, спроектували інтерфейс, розробили атмосферний дизайн сайту на основі ілюстрації для екшн гри, передали эмоції, а також відчули на собі потойбічча Вікторианської епохи 1860 року.</p>
    <p>Створити сайт для гри у стилі хоррор нелегко, але задоволення від процесу виправдовує всі труднощі. Отже ми, спроектували інтерфейс, розробили атмосферний дизайн сайту на основі ілюстрації для екшн гри, передали эмоції, а також відчули на собі потойбічча Вікторианської епохи 1860 року.</p>
    <ul>
      <li>Research
      <li>Strategy</li>
      <li>User Experience (UX)</li>
      <li>Wireframing</li>
      <li>User Interface (UI)</li>
      <li>Visual Design</li>
    </ul>
    <p>То есть фактически мы делали всю работу кроме Back End разработки, поскольку у заказчика была своя команда которая уже продолжительное время работает над этим проектом.</p>
    <img src="%=static=%img/assets/blog-page/brandingcollage-1x.jpg" alt="То есть фактически мы делали всю работу">
    <p class="info">Таблица с целями заказчика, целями проекта и общими целями</p>
    <h4>Третий заголовок</h4>
    <p>У заказчика за время существования проекта накопилось критическая масса проблем, с точки зрения SEO, функционала, которые уже не удовлетворяют текущие требования. Было принято решение переделать сайт в соответствии с новыми целями.</p>
    <ol>
      <li>
        <h6>Пятый</h6>
        <p>У заказчика за время существования проекта накопилось критическая масса проблем, с точки зрения SEO, функционала, которые уже не удовлетворяют текущие требования.
Было принято решение переделать сайт в соответствии с новыми целями.</p>
      </li>
      <li>
        <h6>Пятый</h6>
        <p>У заказчика за время существования проекта накопилось критическая масса проблем, с точки зрения SEO, функционала, которые уже не удовлетворяют текущие требования.
Было принято решение переделать сайт в соответствии с новыми целями.</p>
      </li>
    </ol>
    <h5>Четвертый заголовок</h5>
    <p>У заказчика за время существования проекта накопилось критическая масса проблем, с точки зрения SEO, функционала, которые уже не удовлетворяют текущие требования. Было принято решение переделать сайт в соответствии с новыми целями.</p>
    <h5>Четвертый заголовок</h5>
    <p>Система контекстной рекламы <a href="#">Google AdWords</a> принадлежит крупнейшей поисковой системе мира. Google активно борется за лидерство на рынке поиска рунета и по состоянию на октябрь 2017 года обслуживает почти половину поисковых запросов пользователей. Клиенты AdWords имеют доступ к функциональной и технологичной платформе с тонкими настройками таргетинга, бюджетирования, способов показа объявлений и других параметров рекламных кампаний.</p>
    <q>
      У заказчика за время существования проекта накопилось критическая масса проблем, с точки зрения SEO, функционала, которые уже не удовлетворяют текущие требования. Было принято решение переделать сайт в соответствии с новыми целями.
    </q>
    <div class="table-responsive">
      <table>
        <caption>Таблица</caption>
        <tr>
          <td>Первый столбец</td>
          <td>Второй столбец</td>
          <td>Третий столбец</td>
          <td>Четвертый столбец</td>
          <td>Пятый столбец</td>
        </tr>
        <tr>
          <td>Первый столбец</td>
          <td>Второй столбец</td>
          <td>Третий столбец</td>
          <td>Четвертый столбец</td>
          <td>Пятый столбец</td>
        </tr>
        <tr>
          <td>Первый столбец</td>
          <td>Второй столбец</td>
          <td>Третий столбец</td>
          <td>Четвертый столбец</td>
          <td>Пятый столбец</td>
        </tr>
        <tr>
          <td>Первый столбец</td>
          <td>Второй столбец</td>
          <td>Третий столбец</td>
          <td>Четвертый столбец</td>
          <td>Пятый столбец</td>
        </tr>
      </table>
      <blockquote>втлотсффвысфв вс вс вфс фыв вывтлотсффвысфв вс вс вфс фыв вывтлотсффвысфв вс вс вфс фыв вывтлотсффвысфв вс вс вфс фыв вывтлотсффвысфв вс вс вфс фыв вывтлотсффвысфв вс вс вфс фыв вывтлотсффвысфв вс вс вфс фыв вывтлотсффвысфв вс вс вфс фыв вы</blockquote>
    </div>
  </div>
  <div class="blog-page-bottom">
    <span class="blog-page-bottom__title">Оцените статью</span>
    <div class="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
      <meta itemprop="worstRating" content = "1"/>
      <span class="rating__stars active">
        <span class="rating__star active"><span class="rating__star-active"></span></span>
        <span class="rating__star active"><span class="rating__star-active"></span></span>
        <span class="rating__star active"><span class="rating__star-active"></span></span>
        <span class="rating__star active"><span class="rating__star-active" style="width:25%"></span></span>
        <span class="rating__star"><span class="rating__star-active"></span></span>
      </span>
      (<span itemprop="ratingValue">4.25</span> из <span itemprop="bestRating">5</span> на основе <span itemprop="reviewCount">7</span> отзывов )
    </div>

    <div class="tags">
      <a href="#">#ui/ux</a>
      <a href="#">#копирайтинг</a>
      <a href="#">back-end</a>
      <a href="#">айдентика</a>
    </div>
  </div>
</section>
