.blog-list {
  .footer {
    background-color: #fff;
  }

  .pagination {
    background-color: #fff;
  }

  &.blog-wrapper {
    background: url(../img/general/line-blog.png) 337px;
  }
}

.blog {
  margin-top: 60px;
  text-align: center;

  &__menu {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-bottom: 20px;
    padding: 0 30px;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      width: 3000px;
      left: -1000px;
      position: absolute;
      background-color: #e8e8e8;
      z-index: -1;
    }

    &-item {
      position: relative;
      z-index: 100;

      &:first-child,
      &:last-child {
        background-color: #fff;
      }

      &:first-child {
        padding-left: 30px;
      }

      &:last-child {
        padding-right: 30px;
      }
    }
    a {
      font-size: 12px;
      text-transform: uppercase;
      margin: 0 7px;

      &.active,
      &:hover {
        color: $color-hover;
      }
    }
  }


  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;

    &-item {
      padding: 10px;
      box-sizing: border-box;
      @media #{$laptop} {
        width: 25%;
      }

      &:hover {
        .blog__list-item-content {
          background-color: $bg-menu;
        }
        .blog__list-item-icon {
          fill: $color-hover;
        }

        .blog__list-item-icon-arr {
          transform: translate(42px);
        }

        .blog__list-item-title {
          color: #000;
        }
      }

      &-content {
        padding: 18px;
        background-color: #fff;
      }

      &-img {
        height: 237px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      &-title {
        font-size: 14px;
        font-family: gothampromedium;
        font-weight: 500;
        line-height: 1.29;
        margin: 0;
      }

      &-cat {
        color: #c7c7c7;
        font-family: gothamprolight;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
      }

      &-icon {
        float: right;
        width: 46px;
        height: 29px;
      }

      .blog__list-item-icon-arr {
        transition: all .3s;
      }
    }
  }
}
